.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 12%;
    position: fixed;
    bottom: 0;
    width:440px;
    height: 60px;
    border-top: 1px solid #da9797;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a5959;
    padding-bottom: 15px;
    gap: 33px;
}
.navbar-item{
    text-decoration: none;
    color: #5a5959;
}
.navbar-item__icon{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    font-size: 1.2rem;
}

.navbar-item:hover{
    border-top: 2px solid blue;
}

